<form action='/<%= idea.id %>' method='POST' enctype='multipart/form-data'>
  <p>
    <% if idea.id %>
      Edit your Idea:
    <% else %>
      Your Idea:
    <% end %>
  </p>
  <% if idea.id %>
    <input type="hidden" name="_method" value="PUT" />
  <% end %>
  <p>Title:
    <input type='text' name='idea[title]' value="<%= idea.title %>" placeholder="title"/><br/>
    </p>
  <p>Description:
    <textarea name='idea[description]' placeholder="describe your idea"><%= idea.description %></textarea><br/>
    </p>
  <p>Picture:
    <input type='file' name=idea[image]>
    </p>
  <p>Tags:
    <input type='text' name='idea[tags]' value="<%= idea.tags %>" placeholder="tags"/><br>
  </p>
  <input type='submit'/>
</form>