<h2> Most Productive Days of the Week</h2>
<%= line_chart IdeaStore.all.group_by_day_of_week{|i| i.date }.map{|k, v| [k, v.size] } %>


<h2> Most productive times of day </h2>

<%= line_chart IdeaStore.all.group_by_hour_of_day{|i| i.date }.map{|k, v| [k, v.size] } %>
